#navbar {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

#navbar > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 2em;
  }

.logo {
    object-fit: contain;
    height: 3vh;
  }

  button {
    width: 6em;
    height: 3vh;
    object-fit: contain;
    cursor: pointer;
    background: none;
    border: none;
}

.clicked {
    color: white;
    background-color: black;
    border-radius: 10px;
}

/* button::selection{
    background-color: black;
} */

.button-logo {
    height: 3vh;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

#search {
    width: 75vw;
    height: 2rem;
    border-radius: 10px;
    border: none;
    background-color: rgba(128, 128, 128, 0.199);
  }

@media (max-width: 770px) {
    /*TODO*/
  }